.heading-section {
  display: flex;
  font-family: sans-serif;
  font-size: 2vw;
  height: 11vw;
}

.city-image {
  height: 10vw;
}

.city-text {
  color: lightslategray;
  margin-left: 5%;
}

.line-after-heading {
  display: block;
  box-shadow: 0px 2px 4px 1px #bdb7b7;
  border-bottom: 1px solid rgb(194, 191, 191);
}

nav {
  display: flex;
  justify-content: space-around;
}

.first-section-image {
  max-width: 100%;
  position: relative;
}

.dog-image {
  width: 100%;
  /* max-height: 100%; */
}

.first-section-text {
  width: 100%;
  font-size: 3vw;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.top-news {
  font-family: sans-serif;
  color: grey;
}

.top-news>ul {
  padding-left: 0%;
}

.top-news>ul:first-child {
  display: flex;
  justify-content: space-between;
}

.table-head {
  display: flex;
  justify-content: space-around;
  background-color: #bdb7b7;
  color: white;
}

.table {
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  font-size: 3vw;
  color: rgb(85, 71, 71);
}

tr:nth-child(even) {
  background: rgb(172, 171, 171);
}

tr>td:first-child {
  /* margin-left: 3%; */
  text-align: center;
}

.weather {
  max-width: 100%;
}

.shifting-weather-text {
  margin-top: -1.7vw;
  font-size: 1vw;
}

.weather-report>p {
  font-size: 3vw;
}

.weather-and-temp {
  display: flex;
}

.weather-and-temp>p {
  font-size: 3vw;
}

.align-weather {
  /*width: 100%;*/
  display: flex;
  justify-content: space-around;
}

.latest-news {
  font-family: sans-serif;
  color: grey;
}

.latest-news>ul:first-child {
  display: flex;
  justify-content: space-between;
}

.line-after-latest-news {
  margin-bottom: 3%;
}

.dog-texta img {
  float: left;
  margin-right: 1%;
  /* position: relative; */
  width: 15%;
  height: 15%;
}

.dog-text1 h5 {
  margin: 0%;
  ;
  padding: 0%;
  font-family: sans-serif;
  color: grey;
}

.dog-text1 p {
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
  font-family: sans-serif;
  color: grey;
}


.dog-textb img {
  float: left;
  margin-right: 1%;
  /* position: relative; */
  width: 15%;
  height: 15%;
}

.dog-text2 h5 {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
  color: grey;
}

.dog-text2 p {
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
  font-family: sans-serif;
  color: grey;
}

.dog-textc img {
  float: left;
  margin-right: 1%;
  /* position: relative; */
  width: 15%;
  height: 15%;
}

.dog-text3 h5 {
  margin: 0%;
  ;
  padding: 0%;
  font-family: sans-serif;
  color: grey;
}

.dog-text3 p {
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
  font-family: sans-serif;
  color: grey;
}

.dog-textd img {
  float: left;
  margin-right: 1%;
  /* position: relative; */
  width: 15%;
  height: 15%;
}

.dog-text4 h5 {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
  color: grey;
}

.dog-text4 p {
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
  font-family: sans-serif;
  color: grey;
}


footer {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  box-shadow: 0px 2px 4px 1px #bdb7b7;
}





/*media query for mobile */

@media only screen and (max-width: 400px) {
  .first-section-text {
    width: 100%;
  }

  .line-after-heading {
    display: none;
  }

  nav {
    display: none;
  }

  .top-news {
    font-size: 2.5vw;
  }

  .dog-text1 h5 {
    font-size: 3vw;
  }

  .dog-text1 p {
    font-size: 3vw;
  }

  .dog-text2 h5 {
    font-size: 3vw;
  }

  .dog-text2 p {
    font-size: 3vw;
  }

  .dog-text3 h5 {
    font-size: 3vw;
  }

  .dog-text3 p {
    font-size: 3vw;
  }

  .dog-text4 h5 {
    font-size: 3vw;
  }

  .dog-text4 p {
    font-size: 3vw;
  }

}

/*media query for mobile ends */



/* Media Query for Desktop */

@media only screen and (min-width: 961px) {
  .heading-section {
    margin-left: 3%;
    margin-right: 3%;
  }

  hr {
    margin-left: 3%;
    margin-right: 3%;
  }

  .first-section-image {
    margin-left: 3%;
    margin-right: 3%;
  }

  .first-section-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .first-section-text {
    background-color: white;
    position: absolute;
    bottom: 0;
    color: gray;
    font-size: 1.8vw;
  }

  .top-news>ul {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1.3vw;
  }

  tr:nth-child(even) {
    background: none;
  }

  .table-head {
    margin-left: 3%;
    max-width: 100%;
    background-color: white;
    color: grey;
    text-align: left;
  }

  .table {
    /* margin-left: 3%; */
    margin-right: 3%;
    font-size: 1.1vw;
    color: black;
    text-align: center;
  }

  tr>td:last-child {
    padding-left: 9%;
    text-align: left;
  }

  tr>td:nth-child(2) {
    padding-left: 5%;
    text-align: center;
  }

  tr>td:not(:first-child):not(:nth-child(2)):nth-child(-n + 4) {
    padding-left: 2%;
  }

  .weather-report {
    margin-left: 4%;
    margin-right: 3%;
  }

  .weather-report>p {
    font-size: 1.5vw;
  }

  .latest-news>ul:first-child {
    margin-right: 3%;
  }

  .dog-texta {
    margin-left: 3%;
  }

  .dog-textb {
    margin-left: 3%;
  }

  .dog-textc {
    margin-left: 3%;
  }

  .dog-textd {
    margin-left: 3%;
  }

  .dog-text1 h5 {
    font-size: 2vw;
  }

  .dog-text1 p {
    font-size: 2vw;
  }

  .dog-text2 h5 {
    font-size: 2vw;
  }

  .dog-text2 p {
    font-size: 2vw;
  }

  .dog-text3 h5 {
    font-size: 2vw;
  }

  .dog-text3 p {
    font-size: 2vw;
  }

  .dog-text4 h5 {
    font-size: 2vw;
  }

  .dog-text4 p {
    font-size: 2vw;
  }


}

/*Media query  for desktop ends */



/*media query for tablet */

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .content-section-class {
    display: flex;
    flex-wrap: wrap;
  }

  .first-section-image {
    order: 1;
    width: 50%;
  }

  .dog-image {
    height: 100%;
  }

  .first-section-text {
    font-size: 2.45vw;
    height: 50%;
  }

  .weather {
    margin: 0%;
    order: 2;
    width: 50%;
  }

  .top-news {
    width: 100%;
    order: 3;
  }

  .table-class {
    width: 100%;
    order: 4;
  }

  .parent {
    width: 100%;
    order: 5;
  }
}

/*media query for tablet ends */